body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}
.headline1{
    color:lime;
    font-weight: 700;
    padding-left: 15px;
    
    
    
}
h1{
    color: rgb(246, 17, 17);
    text-align: right;
    font-size: 30px;
    
}
span{
    color:rgb(255, 140, 0)
}
.section1{
    background-image: url(img/donation5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display:flex;
    min-height: 600px;
    margin-bottom: 150px;
}
.headline2{
text-align: center;
color:rgba(24, 248, 58, 0.664);
font-size: 50px;
padding-top: 50px;
padding-right: 50px;
background: -webkit-linear-gradient(rgb(31, 255, 6), rgb(7, 255, 143));
-webkit-background-clip: text;
-webkit-text-fill-color:transparent;
}
p{
    font-weight: 900;
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    padding-left: 20px;
    color:rgb(243, 250, 250) ;
    background: -webkit-linear-gradient(rgb(0, 248, 29), rgb(7, 230, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    
    
}
.first-div{
    width: 100%;
    padding-left:2% ;
}
.btn1{text-align: center;
    text-decoration: none;
    background-image: linear-gradient(orange, lime);
    padding: 10px 40px;
    border-radius: 5px;
    color: rgb(39, 38, 38);
    font-weight: 700;
    margin-left: 500px;
}
.btn1:hover{
    background-image: linear-gradient(lime,orange);

}
.headline3{
   
    text-decoration-color: rgb(18, 19, 19);
    text-align: center;
    color:rgb(4, 4, 4);
    font-size: 30px;
}
.boxshadow{
    text-align: center;
    width: 5%;
    box-shadow:  10px 10px 40px gray;
    margin: 2%;
    padding: 10px 20px;
    border-radius: 10px;

}


.box-parent{
    display: flex;
   margin-left: 30%;
}
.input{
    border-color: rgb(17, 16, 16);
    border-top: 0px;
    border-left: 0px ;
    border-right: 0px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 20px;
    padding-top: 2%;
    margin-left: 3%;
}
.btn2{
    text-align: center;
    margin-top: 30px;
    margin-right: 31%;
    
    
}
.section2{
    padding-right: 5%;
    

}

#section3{
    text-align: center;
    padding-left: 6%;
    padding-top: 20px;
    
}
#plan{
    margin-left: 15%;

}
.allbox{
    width: 20%;
    

}
.boximg{
    
    padding-right: 90%;

}
.foodpara{
    text-align: center;
    font-size: medium;
    
}